@tailwind base;
@tailwind components;
@tailwind utilities;


.newproduct-container {
    @apply  border-red-500 min-w-[43%] h-full;
}


.photo-view {
    @apply  border-red-500 h-[70%] w-full flex justify-center items-center;
}


.rating {
    @apply  border-red-500 h-[10%] w-full flex justify-start items-center;
}


.star1 {
    @apply w-[18%] h-[80%];
}


.product-name-div {
    @apply  border-red-500 h-[10%] w-full flex justify-start items-center;
}

.face1
{
    font-weight: bold;
}

.price-div {
    @apply  border-red-500 h-[10%] w-full flex justify-start items-center;
}


.real-price-3 {
    @apply  font-bold text-sm; 

    color: aqua
}


.fake-p {
    @apply  font-bold text-sm line-through ml-[5%];
    color: aqua;
}













@screen lg2 {
    .newproduct-container
    {
        @apply mt-10
    }
  }