@tailwind base;
@tailwind components;
@tailwind utilities;


.grand-grand
{
  @apply flex w-full h-full   
}
.dark-grand-grand
{
  @apply flex w-full h-full bg-[rgb(46,44,44)];

}
.grand-container {
  @apply h-full w-full overflow-x-auto  ;
  width: 95%;
  margin-left: 2.5%;
}

.dark-grand-container {
  @apply h-full overflow-x-auto bg-[rgb(46,44,44)]  ;
  width: 95%;
  margin-left: 2.5%;
}

.grand-container::-webkit-scrollbar {
  display: none; 
}


.header-div 
{
  @apply w-full  border-[rgb(255,38,0)] flex justify-start items-center flex-row;
  height: 7%;
}
.upper-button-active 
{
  @apply w-[30%]  bg-[rgb(20,20,183)] rounded-[7px] text-[rgb(203,193,193)];
  height: 80%;
}
.dark-upper-button
{
  
  @apply w-[30%]   bg-[rgb(46,44,44)] rounded-[7px] text-[rgb(220,218,218)];
  height: 80%;
}
.upper-button 
{
  @apply w-[30%]   bg-[rgb(234,234,237)] rounded-[7px] text-[rgb(12,12,12)];
  height: 80%;
}
.lower-view

{
  @apply w-full  border-[rgb(255,38,0)] flex justify-center items-center flex-row;
  height:20%;
  margin-top: 4%;
}
.product-heading 
{
  @apply w-full  border-[rgb(255,38,0)] flex justify-between items-center flex-row;
  height: 7%;
  margin-top: 2%;
  
}
.view1
{
   
  @apply w-full h-full
   
}
.heading-1,.heading-2
 {
  @apply border-b-2 border-blue-900 w-2/5  flex flex-col p-0;
  height: 90%;
  border: 2px solid forestgreen;
}

.heading-2
{
  margin-top: 3%;
}




.normal-p {
  @apply  font-bold -mt-1;
  font-size: 13px;
}

.second-p
{
  font-size: 15px;
  @apply font-bold text-indigo-500 -mt-1;
}
.second-p-2
{
  font-size: 15px;
  @apply font-bold text-indigo-500 -mt-1;
}
.view-all
{
  font-size: 16px;
}
.product-view-2
{
  @apply w-full flex flex-row h-[200%] overflow-x-auto  border-green-500 mt-3 gap-2;
}
.new-para
{
  @apply text-[19px] font-extrabold;
}
.dark-new-para
{
  @apply text-[19px] text-white font-extrabold;
}
.cart-theme {
  @apply w-full h-[7%] mt-2  border-red-500 flex flex-row-reverse; 
}

.cart-div-4 {
  @apply w-[15%] h-full flex justify-center items-center  border-fuchsia-500;
}
.night
{
  width:60%;
  height: 60%;
}
.cart-new-9 {
  @apply w-[15%] h-full flex justify-center items-center   border-fuchsia-500;
}

.items {
  @apply w-[7%] h-[50%] -ml-[7%] -mt-[1%] border-2 bg-white flex justify-center items-center  border-fuchsia-500 rounded-full;
  
}

.cart-number {
  @apply font-extrabold;
}







@screen lg3 {
  .cart-theme
  {
    
    height:12%
  }
  .cart-div-4,.cart-new-7
  {
    
  }

  
}




@screen lg4 {

.grand-container
{
    width:80%;
    margin-left:10%;
}
  
}

@screen lg5 {

  .grand-container
   {
    width:60%;
    margin-left:20%;
   }
}

@screen lg6 {

  .grand-container
   {
    width:60%;
    margin-left:20%;
   }
}